.sendEmail {
  margin-top: 4rem;
}

.sendEmail h2 {
  text-align: center;
  margin: 6rem;
}

button {
  background: rgb(143, 143, 143);
  color: white;
  font: inherit;
  border: 1.5px solid rgb(143, 143, 143);
  padding: 1px 2px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

button:hover,
button:active {
  background: white;
  color: rgb(143, 143, 143);
}

button:focus {
  outline: none;
}

button.submitButton {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.sendEmail ul {
  text-align: center;
}

.sendEmail li {
  display: inline-block;
  padding: 1.5rem 1rem;
}

.sendEmail .emailForm {
  padding: 1rem;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #eee;
}

.emailForm .emailKeys button {
  margin: 2px;
}

.emailForm label {
  font-weight: bold;
  margin-bottom: 1rem;
}

.emailForm label,
.emailForm input,
.emailForm textarea {
  display: block;
  margin-top: 1rem;
  width: 100%;
}

.emailForm textarea {
  word-wrap: break-word;
  height: 100px;
  width: 100%;
}

.emailForm .saveTemplate {
  margin: 1rem 0;
}

.emailForm .saveTemplate button {
  margin-top: 1rem;
}

.emailForm input + label {
  display: inline-block;
  width: auto;
  vertical-align: bottom;
}

.emailForm input:focus,
.emailForm textarea:focus {
  outline: none;
  background: #d8f3df;
}

.emailForm .templateDisplay {
  width: 100%;
  padding: 0.5rem;
}

.emailForm .templateDisplay .templates {
  display: inline-block;
  margin: 2px;
}

@media (min-width: 40rem) {
  .emailForm {
    margin: auto;
    width: 35rem;
  }
}
